h1{
    color: red;
}
h2{
    color: red;
}
li{
    color: brown;

    }
     .text{
        text-decoration-line: underline;
        font-style: italic;

     }
     .h2{
        font-style: italic;
     }


     .text2{
        text-decoration: line-through;
     }
     .ul{
        color: brown;
     }
.text3{
    letter-spacing: 7px;
}
.text4
 {
    letter-spacing: 7px;
 }
p{
    color: brown;

}
a{
    font-style: italic;
    color: red;
    background-color: yellow;

}
    
    
    

























